<div class="container">
  <button><a href="/profile">Seguir Buscando</a></button>
<h2>Tu carrito Walmart</h2>
<form action="/pedidoHecho" method="POST">
<ul>
  {{#each recipes as |recipe|}}
  
  <li ><h4 id="title" onclick="abrir('{{recipe._id}}')">{{recipe.nombre}} ▼</h4></li>
  <button class="btn-large waves-effect waves-light light-green white-text"><a href="/profile/carrito/delete/{{recipe._id}}">Borrar</a></button>
  <div id="{{recipe._id}}" style="display:none">
  {{#each ingredientes as |ingrediente|}} 
  <li>{{ingrediente}}</li> 
   <p>
     <label>
       <input type="checkbox" checked="checked" onclick="disable('{{ingrediente}}')"/>
       <span>Comprar</span>
     </label>
   </p>
   <p>
  <label for="ingreidente">QTY</label>
  <input id="{{ingrediente}}" type="text" name="ingrediente" value="{{ingrediente.[0]}}">
  <p>Price: 5</p> 
  <h5 id="total"></h5>
  <hr>
  {{/each}}
  </div>
  {{/each}}
</ul>
</form> 
<a href="/profile/pedidoHecho"> <button id="download-button" class="btn-large waves-effect waves-light light-green white-text"> Hacer Pedido</button></a>

</div>


<script>



const url = 'http://api.walmartlabs.com/v1/search?query=lime&format=json&apiKey=5quub37vm7n65ffdkbrzx7tk'
fetch(url)
.then(data=>{
  return data.json()
})
.then(res=>{
  console.lo(res);
})
  /*var title = document.getElementById('title')
  var lista = document.getElementById('lista')
  title.addEventListener('click', function(){
    if(lista.style.display === 'none'){
    lista.style.display = 'block'
    }else{
      lista.style.display = 'none'
    }
  })*/

function disable(ingrediente){
  var input = document.getElementById(ingrediente)
  if(input.disabled === false){
    input.disabled = true
    input.value = '0'
    }else{
      input.disabled = false
      input.value = ingrediente[0]
    }
}

  function abrir(id){
    var lista = document.getElementById(id)
    if(lista.style.display === 'none'){
    lista.style.display = 'block'
    }else{
      lista.style.display = 'none'
    }
  }
</script>