<div class="container">
  <button><a href="/profile">Seguir Buscando</a></button>
<h2>Tu carrito Walmart</h2>
<form action="/pedidoHecho" method="POST">
<ul>
  {{#each recipes as |recipe|}}
  <li ><h4 id="title" onclick="abrir('{{recipe._id}}')">{{recipe.nombre}} ▼</h4></li>
  <div id="{{recipe._id}}" style="display:none">
  {{#each ingredientes as |ingrediente|}} 
  <li>{{ingrediente}}</li> 
  <label for="ingreidente">QTY</label>
  <input type="text" name="ingrediente" value="{{ingrediente}}">
  {{/each}}
  </div>
  {{/each}}
</ul>
</div>




</form> 



<script>
  /*var title = document.getElementById('title')
  var lista = document.getElementById('lista')
  title.addEventListener('click', function(){
    if(lista.style.display === 'none'){
    lista.style.display = 'block'
    }else{
      lista.style.display = 'none'
    }
  })*/

  function abrir(id){
    var lista = document.getElementById(id)
    if(lista.style.display === 'none'){
    lista.style.display = 'block'
    }else{
      lista.style.display = 'none'
    }
  }
</script>