<div class="container">
<button class="btn-large waves-effect waves-light light-green white-text"><a href="/profile">Busqueda</a></button>
<h2>{{username}}</h2>

<h3>Tus recetas ;)</h3>

<ul>
  {{#each recetas as |receta|}}
  <li>
    <a href="/profile/recetas/{{receta.id}}">{{receta.nombre}}</a>
    <button class="btn-large waves-effect waves-light light-green white-text"><a href="/profile/recetas/edit/{{receta.id}}">Editar</a></button>
    <button class="btn-large waves-effect waves-light light-green white-text"><a href="/profile/recetas/{{receta.id}}/delete">Eliminar</a></button>
  </li> 
  {{/each}}
</ul>

<button class="btn-large waves-effect waves-light light-green white-text"><a href="/profile/crearReceta">Crear otra Receta</a></button>
<button class="btn-large waves-effect waves-light light-green white-text"><a href="/logout">Log Out</a></button>
</div>