<h2>{{username}}</h2>

<h3>Tus recetas ;)</h3>

<ul>
  {{#each recetas as |receta|}}
  <li>
    <a href="/profile/recetas/{{receta.id}}">{{receta.nombre}}</a>
    <button><a href="/profile/recetas/{{receta.id}}/edit">Editar</a></button>
    <button><a href="/profile/recetas/{{receta.id}}/delete">Eliminar</a></button>
  </li> 
  {{/each}}
</ul>

<a href="/profile/crearReceta">Crear otra Receta</a>