
 <h2>{{this.nombre}}</h2>

 <span><img src="{{this.photoURL}}" alt="DescripciónGráfica"></span>

<span>
  <p>{{this.preparacion}}</p>

<p>
  {{#each this.ingredientes as |ingrediente|}}
  <ul>
    <li>
      {{ingrediente}}
    </li>
  </ul>
  {{/each}}
</p>


<button id="carro">Añadir al carrito</button>
</span>

<a href="/profile/carrito">Carrito</a>

<script>
var button = document.getElementById('carro');
button.addEventListener('click', function() {
  
  ingredientes = '{{ingredientes}}'
  console.log('{{{order}}}')
  
  let laOrden='{{{order}}}'
  laOrden=[]
  laOrden.push(ingredientes)
  
  console.log(laOrden)
})


</script>

 