<head>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<button><a href="/profile">Buscador</a></button>
 <h2>{{this.nombre}}</h2>
<div class="container">
 <span>
  <img src="{{this.photoURL}}" alt="DescripciónGráfica">
</span>

<span>
  <p>
    {{this.preparacion}}
  </p>
</span>
</div>
<div class="container">
<p>
  {{#each this.ingredientes as |ingrediente|}}
  <ul>
    <li>
      {{ingrediente}}
    </li>
  </ul>
  {{/each}}
</p>
</div>

<form action="/profile/carrito" method="POST">
<input type="text" name="recipeId" value="{{this.id}}" style="display:none">
<button type="submit" id="carro">Añadir al carrito</button>
</form>



<a href="/profile/carrito">Carrito</a>

{{!-- <script>

var button = document.getElementById('carro');
button.addEventListener('click', function() {
  
  ingredientes = '{{ingredientes}}'
  console.log('{{{order}}}')
  
  let laOrden='{{{order}}}'
  laOrden=[]
  laOrden += ingredientes
  
  console.log(laOrden)
})


</script> --}}



  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
 